
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
  background: #fff;
  height: 100%;
}

#root
{
  height: 100%;
}

h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: normal;
}

* {
  outline: none;
}

.app-root {
  margin: 0 auto;
  height: 100%;
  grid-gap: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;

  > * {
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 0 20px #ccc;
  }
}

main {
  overflow-y: auto;
}

.add-todo-form {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-gap: 5px;
  box-sizing: border-box;
  align-items: center;

  label
  {
    position: relative;

    span
    {
      position: absolute;
      left: -9999px;
    }
  }
}

.add-todo-input {
  border-radius: 5px;
  border: solid 1px #ccc;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 10px 7px;

  &::placeholder {
    color: #ccc;
    font-size: 16px;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.todo-item {
  display: grid;
  grid-template-columns: 40px 1fr 30px;
  grid-gap: 5px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  padding: 10px 0;

  +.todo-item
  {
    border-top: solid 1px #ccc;
  }

  &_success {
    .todo-title {
      text-decoration: line-through;
      color: #aaa;
    }

    .btn-success {

      background: #28a745;
      border-color: #28a745;

      &:after,
      &:before {
        background: #fff;
      }
    }
  }
}

.todo-title {
  font-size: 18px;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  width: 40px;
  height: 40px;
  border: 0;
  line-height: 40px;
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  span
  {
    color: #000000;
    position: absolute;
    left: -9999px;
  }

  &-primary {
    color: #fff;
    background-color: #007bff;

    &:after
    {
      position: absolute;
      content: '';
      border-left: solid 14px #fff;
      border-top: solid 8px transparent;
      border-bottom: solid 8px transparent;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -5px;
    }
  }

  &-success {
    color: #fff;
    background-color: #fff;
    border: solid 1px #ccc;
    width: 24px;
    height: 24px;

    &:after,
    &:before {
      position: absolute;
      content: '';
      background: transparent;
      height: 2px;
      top: 50%;
      left: 50%;
      border-radius: 5px;
    }

    &:after {
      transform: rotate(45deg);
      width: 8px;
      margin: 1px 0 0 -8px;
    }

    &:before {
      transform: rotate(-45deg);
      width: 12px;
      margin: 0 0 0 -4px
    }
  }

  &-danger {
    color: #fff;
    background: transparent;
    position: absolute;
    right: 0;
    top: 10px;
    width: 24px;
    height: 24px;

    &:after,
    &:before {
      position: absolute;
      content: '';
      background: #dc3545;
      width: 20px;
      height: 2px;
      top: 50%;
      left: 50%;
      margin: -1px 0 0 -10px;
      border-radius: 5px;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }
}

.todo-filter {
  display: flex;

  div {
    padding: 7px 10px 4px;
    border: solid 1px #ccc;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;

    &.active {
      background: #ddd;
      font-weight: bold;
    }

    + div {
      margin-left: 5px;
    }
  }
}